<div class="container-fluid bg-light py-5">
  <br>
</div>

<div class="container">
  <div class="row mt-n5 text-center">
    <div class="col-md-12 h1">
      DASHBOARD ADMIN
    </div>
  </div>
  <div class="row border text-center py-4 mb-2">
    <div class="col-2 mb-4 text-md-left">
      Graphique sur les Utilisateurs 
    </div>
    <div class="col-10 py-2">
      <%= line_chart [{name: "Utilisateurs créés", data: User.group_by_day(:created_at).count },{name: "Utilisateurs connectés", data: User.group_by_day(:last_sign_in_at).count }] %>
    </div>
  </div>
  <div class="row border text-center py-4 pl-3 mb-2">
    Liste des associations 
      <ul class="list-group col-12 text-left py-2"> 
        <li class="row py-2"> 
          <div class="col-2 h6">ID</div>
          <div class="col-2 h6">NOM</div>
          <div class="col-2 h6">USER.ID</div>
          <div class="col-2 h6">#RNA</div>
          <div class="col-2 h6">VALIDATION</div>
        </li>
        <% @organizations.each do |organization| %>
         <li class="row py-2">
          <div class="col-2 h6"><%= organization.id %> </div>
          <div class="col-2 h6"><%= organization.name %> </div>
          <div class="col-2 h6"><%= organization.user_id %> </div>
          <div class="col-2 h6"><%= organization.num_rna %> </div>
          <div class="col-2 text-left">
            <% if organization.validatedbyadmin == true %>
              <%= link_to "OK", organization_validate_path(organization.slug), method: :patch, data: {confirm: "Etes vous sûre? Le compte sera ou non validé"},  class: 'btn btn-sm btn-success' %></div>
            <% else %>
              <%= link_to "A valider", organization_validate_path(organization.slug), method: :patch, data: {confirm: "Etes vous sûre? Le compte sera ou non validé"},  class: 'btn btn-sm btn-danger' %></div>
            <% end %>
          <div class="col-1 text-right"><%= link_to 'Supprimer', organization_path(organization.slug), method: :delete, data: {confirm: "Etes vous sûre? Le compte sera définitivement supprimé"},  class: 'btn btn-sm btn-danger' %></div>
          <div class="col-1 text-right"><%= link_to 'Editer', edit_organization_path(organization.slug),  class: 'btn btn-sm btn-primary' %></div>
        </li>

        <%end%> 
      </ul>
  </div>
  <div class="row border text-center py-4 pl-3 mb-2">
    Liste des Utilisateurs 
      <ul class="list-group col-12 text-left py-2"> 
        <li class="row py-2"> 
          <div class="col-1 h6"> ID </div>
          <div class="col-3 h6"> PSEUDO </div>
          <div class="col-3 h6"> EMAIL </div>
          <div class="col-1 h6"> #POSTS </div>
          <div class="col-1 h6"> ASSOC </div>
        </li>
        <% @users.each do |user| %>
         <li class="row py-2"> 
          <% unless user.admin == true %> 
            <div class="col-1 h6"><%= user.id %> </div>
            <div class="col-3 h6"><%= user.name %> </div>
            <div class="col-3 h6"><%= user.email %> </div>
            <div class="col-1 h6"><%= user.thredded_posts.count %> </div>
            <div class="col-1 h6"><% if user.organization.nil? %> - <%else%><%= user.organization.id %> <%end%></div>
            <div class="col-2 text-right"><%= link_to 'Supprimer', user_path(user.id), method: :delete, data: {confirm: "Etes vous sûre? Le compte sera définitivement supprimé"},  class: 'btn btn-sm btn-danger' %></div>
          <%end%>
        </li>
        <%end%> 
      </ul>
      </div>
  </div>
</div>