<h1 class="d-flex justify-content-center mt-5">Les publications de nos membres</h1>
<div class="container">
  <div class="card-deck mt-3">
    <% @articles.each do |article| %>
          <div class="col-md-6 mt-4">
            <div class="card h-100">
              <div class="card-body d-flex flex-row">
                <div class="col-md-4 d-flex flex-column justify-content-center">
                  <%if User.find(article.user_id).avatar.attached?%>
                    <%= image_tag User.find(article.user_id).avatar, alt: 'avatar', class:"rounded-circle", height:"120", width:"120"%>
                  <%else%>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSg6Tiu7ix5m4sH3bRK550_NoTJLhA99xzuq9IsxLbtnQEDBGNi" alt="" height="120" width="120" class="rounded-circle">
                  <%end%>
                  <div class="row pl-2">Auteur: <%= User.find(article.user_id).name %></div>
                </div>
                <div class="col-md-8 d-flex flex-column justify-content-center">
                  <h4 class="card-title self-align-top"> <%= article.title %> </h4>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-between">
                <div class="btn btn-primary"> <%= link_to "En savoir plus", article_path(article.id), :class => "text-white" %>  </div>
              </div>
            </div>
          </div>
    <% end %>
  </div>
  <div class="d-flex flex-row justify-content-center mt-5">
    <% if current_user && current_user.admin == true %>
      <div class="btn btn-primary "> <%= link_to "Ajouter une nouvelle association", new_organization_path(), :class => "text-white" %>  </div>
    <%end%>
  </div>
</div>