<div class="container-fluid py-5 bg-light">
  <br>
</div>

<div class="container mt-n5">
  <div class="row">
    <div class="col-md-2 text-center">
      <%if @user.avatar.attached?%>
        <%= image_tag @user.avatar, alt: 'avatar', class:"rounded-circle", height:"120", width:"120"%>
      <%else%>
        <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSg6Tiu7ix5m4sH3bRK550_NoTJLhA99xzuq9IsxLbtnQEDBGNi", alt:"", class:"rounded-circle", height:"120", width:"120" %>
      <%end%>
    </div>
    <div class="col-md-6 text-center text-md-left">
      <h1> <%= @article.title %> </h1>
      <h5>Par: <%= @user.name %></h5>
      <%if current_user%>
        <% @like = ArticleLike.find_by(user_id:current_user.id, article_id:@article.id)%>
        <%if @like == nil%>
          <%= link_to "Like", article_article_likes_path(@article.id), method: :post, :class => "text-dark" %>
        <%else%>
          <%= link_to "Unlike", article_article_like_path(@article.id, @like.id), method: :delete, :class => "text-muted" %>
        <%end%>
      <%else%>
        <%= link_to "Like", new_user_session_path, :class => "text-dark"%>
      <%end%>
    </div>
  </div>
  <div class="row py-3">
    <div class="col py-3 text-center">
      <p> <%= @article.content %> </p>
    </div>
  </div>
  <div class="row py-3 justify-content-center">
    <div class="form-group">
      <%= form_tag article_article_comments_path(@article.id), method: "post" do %>
      <%= text_area_tag 'content', "", class: "form-control", rows:"3"%>
    </div>
    <div class="col-2">
      <%= submit_tag "Commenter", class: 'btn btn-primary btn-sm'  %>
      <%end%>
    </div>
  </div>
  <% @comments.each do |comment| %>
  <div class="row justify-content-center">
    <div class="col-lg-4 text-align-left">
      <div class="bs-component">
        <blockquote class="blockquote">
          <p class="mb-0"><%=comment.content%></p>
          <footer class="blockquote-footer"><%=comment.user.name%>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
  <%end%>
</div>