<!-- ***** Gradient banner ***** -->
<div class="container-fluid py-5 bg-orange-gradient">
  <br>
</div>

<div class="container mt-n5">
  <!-- ***** Title && Author ***** -->
  <div class="row">
    <div class="col-md-8 text-center text-md-left">
      <h1> <%= @article.title %> </h1> <!-- Title -->
      <h5>Par : <%= link_to "#{@article.user.name}", thredded.new_private_topic_path(private_topic: {title: "A propos de l'article '#{@article.title}'", user_names: "#{@article.user.name}"}) %> de <%= @organization.name %> </h5><!-- Author -->
    </div>
  </div>

  <!-- ***** Article's body ***** -->
  <div class="row py-3">
    <div class="col py-3 text-center">
      <p> <%= @article.content %> </p>
    </div>
  </div>

<!-- ***** Thank Section ***** -->
  <div class="row">
    <div class="col text-center">
      <p>
      Vous avez trouvé cet article intéressant ? Faites le savoir à son auteur :
      <%if current_user%>
      <% @like = ArticleLike.find_by(user_id:current_user.id, article_id:@article.id)%>
      <%if @like == nil%>
      <%= link_to "Like", article_article_likes_path(@article.id), method: :post, :class => "ml-3 btn btn-primary" %>
      <%else%>
      <%= link_to "Unlike", article_article_like_path(@article.id, @like.id), method: :delete, :class => "ml-3 btn btn-secondary" %>
      <%end%>
      <%else%>
      <%= link_to "Like", new_user_session_path, :class => "ml-3 btn btn-primary"%>
      <%end%>
      </p>
    </div>
  </div>

  <!-- ***** Comment Section ***** -->
<div class="row py-3">
  <h3>Réagir à cet article</h3>
</div>
<div class="row">
  
</div>

  <div class="row py-3">
  <div class="col text-center">
    <% if current_user && (current_user == @user || current_user.admin == true)%>
      <p>Pour éditer cet article, cliquer ici : </p>
      <%= link_to "Editer", edit_article_path(@article.id), class: 'btn btn-outline-primary' %>
    <%end%>
  </div>
</div>
  <%= form_tag article_article_comments_path(@article.id), method: "post" do %>
    <div class="row py-3 justify-content-center">
      <div class="form-group">
        <%= text_area_tag 'content', "", class: "form-control", rows:"3", class:"w-100"%>
      </div>
      <div>
        <%= submit_tag "Commenter", class: 'btn btn-primary'  %>
      </div>
    </div>
  <%end%>
  <% @comments.each do |comment| %>
  <div class="row justify-content-center">
    <div class="col-lg-4 text-align-left">
      <div class="bs-component">
        <blockquote class="blockquote">
          <p class="mb-0"><%=comment.content%></p>
          <footer class="blockquote-footer"><%=comment.user.name%>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
  <%end%>
</div>
