
<div class="container-fluid bg-purple-gradient py-5">
  <br>
</div>

<div class="container">
  <%= form_for @user do |f| %>
    <div class="row mt-n5 mb-3">
      <div class="col-md-2 text-center">
        <%if @user.avatar.attached?%>
          <%= image_tag @user.avatar, alt: 'avatar', class:"rounded-circle", height:"120", width:"120" %>
        <%else%>
          <%= image_tag "avatar.png", alt:"", class:"rounded-circle", height:"120", width:"120" %>
        <%end%>
      </div>
      <div class="col-md-10">
        <div class="row d-flex justify-content-between">
          <div class="col-md-5">
            <h1 class="mb-4 text-md-left text-center"><%= @user.name %></h1>
            <div class="text-md-left text-center">
              <%= label_tag 'Changer mon avatar : ' %>
              <%= f.file_field :avatar %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-md-left text-center text-muted py-5">
      <div class="col-6 pl-5">inscrit depuis le <%= @user.created_at.strftime("%d-%m-%Y") %> </div>
      <div class="col-6 pl-5">nb de posts : <%= @user.thredded_posts.count %></div>
    </div>

      <div class="row text-md-left text-center py-3">
        <div class="col-md-6 pl-5">
          <%= label_tag 'Pseudo : ' %> <br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="row text-md-left text-center py-3">
        <div class="col-md-6 pl-5">
          <%= label_tag 'Nom : ' %><br>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>

        <div class="col-md-6 pl-5 text-md-left text-center">
          <%= label_tag 'Prénom : ' %> <br>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
      </div>

      <div class="row text-md-left text-center py-3">
        <div class="col-md-6 pl-5">
          <%= label_tag 'Email : ' %> <br>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
      </div>
      <div class="mb-3">        
        <%= fields_for @address do |ff| %>
          <div class="col-md-6 pl-5">
            <%= label_tag "Adresse : "%>
          </div>
          <div class="row text-md-left text-center py-3">
            <div class="col-md-6 pl-5">
              <%= ff.text_field :number, class: "form-control", placeholder: "N°" %>
            </div>
            <div class="col-md-6 pl-5">
              <%= ff.text_field :street, class: "form-control", placeholder: "Voie" %>
            </div>
          </div>
          <div class="row text-md-left text-center py-3">
            <div class="col-md-6 pl-5">
              <%= ff.text_field :additionnal_information, class: "form-control", placeholder: "Complément d'adresse"%>
            </div>
          </div>
          <div class="row text-md-left text-center py-3">
            <div class="col-md-6 pl-5">
              <%= ff.text_field :zip_code, class: "form-control", placeholder: "Code postal" %>
            </div>
            <div class="col-md-6 pl-5">
              <%= ff.text_field :city, class: "form-control", placeholder: "Ville"%>
            </div>
          </div>
        <%end%>
      </div>
      <div class="row justify-content-lg-between justify-content-md-center no-gutters my-5">
        <div class="col-md-3 text-center">
          <%= f.submit 'Enregistrer les modifications', :class => "btn btn-primary mt-3" %>
        </div>
      </div>
    <% end %>
</div>
