<div class="container pt-5">
  <div class="row">
    <div class="col-sm-4">
      Pseudo :
      <%= @user.name %>
    </div>
    <div class="col-sm-4">
      Nom :
      <%= @user.last_name %>
    </div>
    <div class="col-sm-4">
      Prénom :
      <%= @user.first_name %>
    </div>
    <div class="col-sm-4">
      Email :
      <%= @user.email %>
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-sm-4">
      Code Postal :
      <%= @user.zip_code %>
    </div>
    <div class="col-sm-4">
      <%= link_to 'Modifier mes infos', edit_user_path(params[:id]), class: 'btn btn-lg btn-primary' %>
    </div>
    <div class="col-sm-4">
      <%= link_to "Se Déconnecter (en attente navbar)", destroy_user_session_path, method: :delete, class: 'dropdown-item text-uppercase' %>
    </div>
    <div class="col-sm-4">
      <%= link_to 'Supprimer mon compte', user_path(params[:id]), method: :delete, data: {confirm: "Etes vous sûre? Votre compte sera définitivement supprimé"},  class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</div>
