<div class="container-fluid bg-light py-5">
  <br>
</div>

<div class="container">
  <div class="row mt-n5 mb-3 text-center">
    <div class="col-md-2">
      <%if @user.avatar.attached?%>
        <%= image_tag @user.avatar, alt: 'avatar', class:"rounded-circle", height:"120", width:"120" %>
      <%else%>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSg6Tiu7ix5m4sH3bRK550_NoTJLhA99xzuq9IsxLbtnQEDBGNi" alt="" height="120" width="120" class="rounded-circle">
      <%end%>
    </div>
    <div class="col-md-10">
      <div class="row d-flex justify-content-between">

        <div class="col-md-3 d-flex flex-column">
          <h1 class="mb-4 text-md-left"><%= @user.name %></h1>
          <p class="text-md-left">Dernière connexion :  <%= @user.last_sign_in_at.strftime("%d-%m-%Y") %> </p>
        </div>
        <!--  if current_user == false || current_user.id != @user.id %>
        <div class="col-md-2 align-self-end">
          = link_to Contacter (NA)", root_path, class: 'btn btn-primary mb-2' 
        </div> 
        end -->
      </div>
    </div>
  </div>

  <div class="row border text-center text-muted py-3">
    <div class="col-6">inscrit depuis le <%= @user.created_at.strftime("%d-%m-%Y") %></div>
    <div class="col-6">nb de posts : <%= @user.thredded_posts.count %></div>
  </div>

  <div class="row border text-center py-3">
    <div class="col-md-6">Nom : <%= @user.last_name %></div>
    <div class="col-md-6">Prénom : <%= @user.first_name %></div>
  </div>

  <div class="row border text-center py-3">
    <div class="col-md-6">Email : <%= @user.email %></div>
    <div class="col-md-6">Localisation : <%= @user.zip_code %></div>
  </div>


  <div class="row justify-content-lg-end justify-content-md-center">
    <div class="col-md-2 text-md-center">
      <%= link_to 'Modifier mes infos', edit_user_path(params[:id]), class: 'btn btn-primary mt-3' %>
    </div>
    <div class="col-md-2 text-md-center">
      <%= link_to 'Supprimer compte', user_path(params[:id]), method: :delete, data: {confirm: "Etes vous sûre? Votre compte sera définitivement supprimé"},  class: 'btn btn-outline-primary mt-3' %>
    </div>
  </div>
</div>
