<!-- ***** Gradient top banner ***** -->
<div class="container-fluid bg-purple-gradient py-5">
  <br>
</div>

<div class="container pb-3">

  <!-- ***** Avatar // Pseudo // Edit button ***** -->
  <div class="row mt-n5 mb-3 text-center">
    <div class="col-md-2">
      <%if @user.avatar.attached?%>
        <%= image_tag @user.avatar, alt: 'avatar', class:"rounded-circle", height:"120", width:"120" %>
      <%else%>
        <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSg6Tiu7ix5m4sH3bRK550_NoTJLhA99xzuq9IsxLbtnQEDBGNi", alt:"", class:"rounded-circle", height:"120", width:"120" %>
      <%end%>
    </div>
    <div class="col-md-10">
      <div class="row d-flex justify-content-between">

        <div class="col-md-4">
          <h1 class="mb-4 text-md-left"><%= @user.name %></h1>
          <p class="text-md-left">Dernière connexion :
            <%= @user.last_sign_in_at.strftime("%d-%m-%Y") %>
          </p>
        </div>
        <div class="col-md-3 text-md-right text-center">
          <%= link_to 'Modifier mes infos', edit_user_path(params[:id]), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>

<!-- ***** Account infos ***** -->
  <div class="row text-muted text-center py-5">
    <div class="col-md-6 text-md-left py-2">inscrit depuis le <%= @user.created_at.strftime("%d-%m-%Y") %></div>
    <div class="col-md-6 text-md-left py-2">nb de posts : <b><%= @user.thredded_posts.count %></b></div>
  </div>
</div>

<!-- ***** User's personnal infos ***** -->
<div class="container-fluid py-5 bg-purple-gradient">
  <div class="container">

    <div class="row py-3">
      <div class="col-md-6 py-2">Nom :<br>
        <%= @user.last_name %></div>
      <div class="col-md-6 py-2">Prénom :<br>
        <%= @user.first_name %></div>
    </div>

    <div class="row py-3">
      <div class="col-md-6 py-2">Email :<br>
        <%= @user.email %></div>
      <div class="col-md-6 py-2">Localisation :<br>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row py-5">
      <h2 class="col">Vos derniers commentaires</h2>
  </div>
<div class="row">
  <!-- ***** Last Comments in forum ***** -->
  <div class="col">
    <%= Thredded::ApplicationController.render partial: 'thredded/users/posts', locals: { posts: Thredded.posts_page_view(scope: @user.thredded_posts.order_newest_first.limit(5), current_user: current_user) } %>
  </div>
</div>
<div class="row py-5 text-center">
  <!-- ***** Links to Forum ***** -->
  <div class="col">
    <h3 class="px-4">Pour suivre les sujets qui vous intéressent ou en découvrir de nouveaux, rendez-vous sur notre <%= link_to "Forum", main_app.thredded_path %>
    </h3>
      <%= link_to "Aller au forum", main_app.thredded_path, class: 'btn btn-primary mt-3' %>
  </div>
</div>
</div>
