<div class="h-100" style="background-color: #D3D3D3;"> 
  <div class="d-flex justify-content-center fluid-container">
    <div class= "container d-flex justify-content-center" >
      <div class=" d-flex flex-column form" style="padding: 5% 7% 5% 7%;">
        <h2>Changer votre mot de passe</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field m-1">
            <%= f.label :password, "Nouveau mot de passe" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
          </div>

          <div class="field m-1">
            <%= f.label :password_confirmation, "Confirmer le mot de passe" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions">
          <%= f.submit "Changer mon mot de passe", class=> 'btn btn-primary m-1' %>
          </div>
        <% end %>
        <div style="font-size: 10px;">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
