 <div class="h-100" style="background-color: #D3D3D3;"> 
  <div class="d-flex justify-content-center fluid-container">
    <div class= "container d-flex justify-content-center" >
      <div class=" d-flex flex-column form" style="padding: 5% 7% 5% 7%;">
        <h2>Vous avez oublié votre mot de passe ?</h2>
        <p class="m-2">Entrez votre adresse e-mail pour récupérer votre mot de passe</p>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field m-2">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="actions">
            <%= f.submit "Envoyer le lien par email ", :class=> 'btn btn-primary m-1' %>
          </div>
        <% end %>
        <div style="font-size: 10px;">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

