<div class="container">
  <div class="card-deck mt-3">
    <% @events.each do |event| %>
          <div class="col-md-4 mt-4">
            <div class="card h-100">
              <%if event.illustration.attached?%>
                <%= image_tag event.illustration, class:"card-img-top"%>
              <%else%>
                <%= image_tag "event.jpg", class:"card-img-top"%>
              <%end%>
              <div class="card-body d-flex flex-row">
                <div class="col-md-8 d-flex flex-column justify-content-center">
                  <h4 class="card-title self-align-top"> <%= event.title %> </h4>
                  <p class="card-text"> <%= event.description %>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-between">
                <%= link_to "En savoir plus", organization_event_path(event.organization_id,event.id), :class => "btn btn-primary text-white" %>
                <%if current_user%>
                  <% @participation = Participation.find_by(user_id:current_user.id, event_id:event.id)%>
                  <%if @participation == nil%>
                    <%= link_to "S'inscrire", organization_event_participations_path(event.organization_id,event.id), class: 'btn btn-secondary', method: :post %>
                  <%else%>
                    <%= link_to "Se désinscrire", organization_event_participation_path(event.organization_id,event.id,@participation.id), class: 'btn btn-secondary', method: :delete %>
                  <%end%>
                <%else%>
                   <%= link_to "S'inscrire", new_user_session_path, class: 'btn btn-secondary'%>
                <%end%>
              </div>
            </div>
          </div> 
    <% end %>
  </div>
</div>