<div class="container-fluid py-5 bg-orange-gradient">
  <br>
</div>

<div class="container mt-n5">
  <div class="row">
    <div class="col-md-2 text-center">
        <%if @organization.logo.attached?%>
          <%= image_tag @organization.logo, alt: 'logo', class:"rounded-circle", height:"100", width:"100" %>
        <%else%>
          <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSg6Tiu7ix5m4sH3bRK550_NoTJLhA99xzuq9IsxLbtnQEDBGNi", alt:"", class:"rounded-circle", height:"120", width:"120" %>
        <%end%>
    </div>
    <div class="col-md-6 text-center text-md-left">
      <h1> <%= @event.title %> </h1>
      <p>Organisé par: <%=link_to "#{@organization.name}", organization_path(@organization.id) %></p>
    </div>
    <div class="col-md-4 text-center text-md-right">
      <% if ((current_user.organization.nil? == false && current_user.organization.id == @organization.id) || current_user.admin == true) %>
        <%= link_to "Editer l'évènement", edit_organization_event_path(@event.id), class: 'btn btn-primary' %>
      <%end%>
    </div>
  </div>
</div>
<div class="container my-3">
  <div class="d-flex row">
    <div class="col-sm-12 col-md-4">
    <%if @event.illustration.attached?%>
        <%= image_tag @event.illustration, class:"card-img-top"%>
      <%else%>
        <%= image_tag "event.jpg", class:"card-img-top top-image"%>
      <%end%>
    </div>
    <div class="col-sm-12 col-md-4 d-flex flex-column justify-content-between mt-1">
      <h5>À Propos</h5>
      <p><%=@event.description%></p>
      <%if current_user%>
        <% @participation = Participation.find_by(user_id:current_user.id, event_id:@event.id)%>
        <%if @participation == nil%>
          <%= link_to "S'inscrire", organization_event_participations_path(@event.organization_id,@event.id), class: 'btn btn-secondary w-50', method: :post %>
        <%else%>
          <%= link_to "Se désinscrire", organization_event_participation_path(@event.organization_id,@event.id,@participation.id), class: 'btn btn-secondary w-50', method: :delete %>
        <%end%>
      <%else%>
        <%= link_to "S'inscrire", new_user_session_path, class: 'btn btn-secondary w-50'%>
      <%end%>
    </div>
    <div class="col-sm-12 col-md-4 mt-1">
      <h5>Détails de l'évenement</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Lieu : <%=@event.address.number%> <%=@event.address.street%><br/><%=@event.address.zip_code%> <%=@event.address.city%></li>
            <li class="list-group-item">Début : <%=@event.start_date.strftime("%d/%m/%y %Hh%M")%></li>
            <li class="list-group-item"><% unless @event.end_date.nil? %>Fin : <%=@event.end_date.strftime("%d/%m/%y %Hh%M")%> <%end%></li>
          </ul>
    </div>
  </div>
</div>
    <!-- ***** Google maps ***** -->
<div class="container-fluid py-3 bg-purple-gradient">
  <div class="container">
      <div class="row text-center">
        <div class="col py-3">
          <h2>
            Plan d'accès :
          </h2>
        </div>
      </div>
      <div class="row d-flex mb-3 justify-content-center">
        <%= link_to image_tag("https://maps.googleapis.com/maps/api/staticmap?markers=color:0x7776BC%7C#{@event.address.google_format},France&zoom=14&size=700x300&key=#{ENV['google_key']}"), "https://www.google.com/maps/search/?api=1&query=#{@event.address.google_format},France", height:"300", width:"700", target:"_blank" %>
      </div>
  </div>
</div>

    <!-- ***** Organization informations ***** -->
<div class="container-fluid py-3 bg-orange-gradient">
  <div class="container">
      <div class="row text-center">
        <div class="col py-3">
          <h2>
            Contacter l'organisateur :
          </h2>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-3">
    
          <p><i class="fas fa-home"></i>  <%= @organization.address.numberandstreet %> </p>
          <p><i class="fas fa-map-marker-alt"></i>  <%= @organization.address.zip_codeandcity %> </p>
          <p><i class="fas fa-phone-alt"></i>  <%= @organization.phone %> </p>
        </div>
        <div class="col-md-3">
          <% unless @organization.email.nil? %>
            <p><i class="fas fa-envelope"></i> <%= link_to @organization.email, @organization.email%> </p>
          <%end%>
          <% unless @organization.website.nil? %>
            <p><i class="fas fa-globe"></i> <%= link_to @organization.website, @organization.website%> </p>
          <%end%>
          <% unless @organization.fb_website.nil? %>
            <p> <i class="fab fa-facebook">  </i> <%= link_to "Notre Facebook", @organization.fb_website %> <p>
          <%end%>
        </div>
      </div>
  </div>
</div>
    <!-- ***** Donate Section ***** -->

<div class="container">
  <div class="row py-3">
    <div class="col text-center">
      <h2 class="py-3"> Soutenir l'organisateur : </h2>
      <p> <%= @organization.description %> </p>
      <%= link_to 'Faire un don', @organization.donate_link, class: 'btn btn-primary my-3' %>
    </div>
  </div>
</div>
    <!-- ***** Other Events from this association ***** -->
  <div class="container-fluid bg-orange-gradient py-5 mt-3">
        <h3 class="text-center pb-2">Autres évènements organisés par <%= @organization.name%> </h3>
            <%= render 'events/events_list'%>
</div>
