<div class="container-fluid py-5 bg-orange-gradient">
  <br>
</div>

<div class="container mt-n5">
  <div class="row">
    <div class="col-md-6 text-center text-md-left">
      <h1> <%= @event.title %> </h1>
      <p>Organisé par: <%=link_to "#{@organization.name}", organization_path(@organization.id) %></p>
    </div>
</div>

<div class="card m-5 p-1 align-items-center" style="width: 80%;" >
  <%if @event.illustration.attached?%>
    <%= image_tag @event.illustration, class:"card-img-top"%>
  <%else%>
    <%= image_tag "event.jpg", class:"card-img-top"%>
  <%end%>
  <div class="card-body">
    <div class="row align-items-between">
      <div class="col-4 mr-5">
        <p class="card-text"><%=@event.description%></p>
      </div>
      <div class="col-4 ml-5">
        <div class="card" style="width: 18rem;">
          <div class="card-header bg-primary text-center text-light">
            Détails de l'évenement
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Lieu : <%=@event.address.number%><%=@event.address.street%><%=@event.address.zip_code%><%=@event.address.city%></li>
            <li class="list-group-item">Début : <%=@event.start_date.to_date%></li>
            <li class="list-group-item">Fin : <%=@event.end_date%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-3 bg-orange-gradient">
  <div class="container">
      <div class="row text-center">
        <div class="col py-3">
          <h2>
            Contacter l'organisateur :
          </h2>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-3">
    
          <p><i class="fas fa-home"></i>  <%= @organization.location %> </p>
          <p><i class="fas fa-map-marker-alt"></i>  <%= @organization.zip_code %> </p>
          <p><i class="fas fa-phone-alt"></i>  <%= @organization.phone %> </p>
        </div>
        <div class="col-md-3">
          <% unless @organization.email.nil? %>
            <p><i class="fas fa-envelope"></i> <%= link_to @organization.email, @organization.email%> </p>
          <%end%>
          <% unless @organization.website.nil? %>
            <p><i class="fas fa-globe"></i> <%= link_to @organization.website, @organization.website%> </p>
          <%end%>
          <% unless @organization.fb_website.nil? %>
            <p> <i class="fab fa-facebook">  </i> <%= link_to "Notre Facebook", @organization.fb_website %> <p>
          <%end%>
        </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row py-3">
    <div class="col text-center">
      <h2 class="py-3"> Soutenir l'organisateur : </h2>
      <p> <%= @organization.description %> </p>
      <%= link_to 'Faire un don', @organization.donate_link, class: 'btn btn-primary my-3' %>
    </div>
  </div>
</div>
