<div style="background-color: #D3D3D3; min-height: 100%">
  <div class="d-flex justify-content-center fluid-container">
    <div class= "container d-flex justify-content-center" >
      <div class=" d-flex flex-column form" style="padding: 3% 7% 3% 7%;">
          <h2>Connexion</h2>
          <h5 class="m-2">Share, heal, hangout</h5>


          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          
            <div class="actions">
              <%= f.submit "Log in", :class=> 'btn btn-primary m-2' %>
            </div>
          <% end %>
          <div style="font-size: 10px;">
              <p>Vous n'avez pas encore de compte ? <%= render "devise/shared/links" %> </p>
          </div>
      </div>
    </div>
  </div>
</div>

