 <section>
    </br>
      <div class="container bg-white">
      </br>
      <h1 class="mt-5">Inscrire une association</h1>
      <div class="container d-flex justify-content-center ">
        <div class="col-md-8 order-md-1">

            <%= form_tag associations_path, method: "post" do %>
              <input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %> >
              <br />

              <div class="mb-3">
                <%= label_tag "Le nom de l'association (*)" %> </br>
                <%= text_field_tag 'name', "", class: "form-control", placeholder: "Nom"%>
                <div class="invalid-feedback" style="width: 100%;"> Ce champs est obligatoire </div>
              </div>

              <div class="row">
                <div class="col">
                  <%= label_tag 'Le numéro du registre RNA (*)'%> </br>
                  <%= text_field_tag 'num_rna', "", class: "form-control", placeholder: "W000000000"  %>
                  <div class="invalid-feedback"> Ce champs est obligatoire </div>
                </div>
                <br />
                <div class="col">
                  <%= label_tag "l'adresse du siege social (*)" %></br>
                  <%= text_field_tag 'location', "", class: "form-control"%>
                  <div class="invalid-feedback"> Ce champs est obligatoire </div>
                </div>
                <div class="col">
                  <%= label_tag 'Le code postal (*)' %> </br>
                  <%= text_field_tag 'zip_code', "", class: "form-control"%>
                  <div class="invalid-feedback"> Ce champs est obligatoire </div>
                </div>
              </div>
              </br>
              <div class="mb-3">
                <%= label_tag "Le site web" %> </br>
                <%= text_field_tag 'website', "", class: "form-control", placeholder: "www.assocation.org"%>
              </div>
              <div class="mb-3">
                <%= label_tag "Le lien facebook" %> </br>
                <%= text_field_tag 'fb_website', "", class: "form-control"%>
              </div>
              <div class="mb-3">
                <%= label_tag "L'email de contact" %> </br>
                <%= text_field_tag 'email', "", class: "form-control"%>
              </div>
              <hr class="mb-4">
              <div class="mb-3">
                <%= label_tag "Description de l'assocation " %><span class="text-muted"> </br>
                <%= text_area_tag 'description', "", class: "form-control"%>
                <div class="invalid-feedback" style="width: 100%;"> Ce champs est obligatoire</div>
              </div>

              <%= submit_tag "Valider", class: 'btn btn-primary btn-lg'  %>
              </br>

            <% end %>
          </div>
        </div>
      </div>
    </section>
