<div class="container-fluid py-5 bg-light">
  <br>
</div>

<div class="container mt-n5">
  <div class="row">
    <div class="col-md-2 text-center">
      <%if @association.logo.attached?%>
        <%= image_tag @association.logo, alt: 'logo', class:"rounded-circle", height:"120", width:"150" %>
      <%else%>
       <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSnybl2dND6AAjhk2HYuG9m8-Wt-jsPWnil6A89n1F7uMGEZ3b2" alt="" width="150" height="150">
      <%end%>
    </div>
    <div class="col-md-6 text-center text-md-left">
      <h1> <%= @association.name %> </h1>
      <p>Slogan ou courte description de l'asso à ajouter par la suite</p>
    </div>
  </div>

<div class="row py-3">
  <div class="col py-3 text-center">
    <h2 class="pb-3">
      Description :
    </h2>
    <p> <%= @association.description %> </p>
  </div>
</div>
</div>

<div class="container-fluid bg-light py-3">
    <div class="container">
    <div class="row text-center">
      <div class="col py-3">
        <h2>
          Nous Contacter :
        </h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-3">
        <p> <%= @association.location %> </p>
        <p> <%= @association.zip_code %> </p>
      </div>
    <div class="col-md-3">
      <% unless @association.email.nil? %>
      <div class=""> <%= link_to @association.email, @association.email%> </div>
      <%end%>
      <% unless @association.website.nil? %>
      <div class=""> <%= link_to @association.website, @association.website%> </div>
      <%end%>
      <% unless @association.fb_website.nil? %>
      <div class=""> <i class="fab fa-facebook-f">  </i> <%= link_to "Notre Facebook", @association.fb_website %> </div>
      <%end%>
    </div>
  </div>
  </div>
  </div>

  <div class="container py-3">
  <div class="row">
    <div class="col text-center">
      <h2 class="py-3"> Nous soutenir : </h2>
      <p> <%= @association.description %> </p>
      <%= link_to 'Faire un don', '#', class: 'btn btn-primary my-3' %>
    </div>
  </div>
  </div>
