<div class="col-md-3 m-4">
<!-- ***** Popover information && Template***** -->
  <div class="row shadow p-3 usertype-cardmodel" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= organization.description%>" data-template='<div class="popover" role="tooltip"><div class="arrow"></div><p class="popover-body"></p></div>'>

    <!-- ***** Logo ***** -->
    <div class="col-md-4 text-center my-auto">
      <%if organization.logo.attached?%>
         <%= image_tag organization.logo, alt: "logo", class:"rounded-circle", height:"100", width:"100" %>
      <%else%>
          <%= image_tag "mains.jpg", alt:"", class:"rounded-circle", height:"120", width:"120" %>
      <%end%>
    </div>
    <div class="col-md-8">
      <!-- ***** Name ***** -->
      <h4 class="text-md-left text-center">
        <% if organization.name.chars.count > 12 %>
          <%= organization.name[0..9] + "..." %>
        <% else %>
          <%= organization.name %>
        <% end %>
      </h4>
      <!-- ***** Location ***** -->
      <p class="my-4">
        <i class="fas fa-map-marker-alt"></i> <%= organization.address.city %>
      </p>
      <!-- ***** Follow and see more buttons ***** -->
      <div class="row text-md-left text-center">
        <div class="col-6">
          <%if current_user %>
            <div id="follow <%= organization.id%>">
              <%= render 'follows/follow_button', organization: organization%>
            </div>
          <%else%>
            <%= link_to "Suivre", new_user_session_path, :class => "btn btn-outline-secondary"%>
          <%end%>
        </div>
        <div class="col-6">
          <%= link_to "Découvrir", organization_path(organization.slug), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
