<% if current_user && current_user.organization.nil? == false && current_user.organization.id == @organization.id %>
  <div class="container-fluid py-5 bg-orange-gradient">
    <div class="row">
      <div class="col-md-7 text-md-right">
        <h1 class=""> Votre Dashboard </h1>
      </div>
      <div id="buttondashboard" class="col-md-5 text-md-left d-none">
        <%= link_to "Revenir sur le Dashboard", organization_path(@organization.slug), class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>

  <div id="showorganization" class="container mt-5">
    <div class="text-right">
      <%= link_to "Voir la vue utilisateur", organization_path(@organization.slug), remote:true, class: 'btn btn-secondary' %>
    </div>
    <%= render 'organizations/orga_form' %>
  </div>

  <div class="container mt-5">
    <hr>
    <div class="row">
      <div class="col-md-8 text-center text-md-left">
        <h1 class=""> Les évènements de l'association </h1>
      </div>
      <div class="col-md-4 text-center text-md-right">
        <%= link_to "Créer un évènement", new_organization_event_path(@organization.slug), class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="pb-5">
      <%= render 'events/events_list' %>
    </div>
  </div>

<%else%>

  <div class="container-fluid py-5 bg-orange-gradient">
    <br>
  </div>
  <%= render 'organizations/orga_show' %>

<%end%>