<footer class="page-footer font-small bg-light navbar-dark text-white pt-5 footer">
  <div class="container">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <%= link_to image_tag('logo_shine_50.png'), main_app.root_path%>
        <p>Ensemble, libérons la parole. </p>
        <br/>
        <h5>Contact</h5>
        <p>hello@shine.com </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Shine</h5>

        <ul class="list-unstyled">
          <li>
           <%= link_to "Forum", main_app.thredded_path, class: 'nav-link px-0' %>
          </li>
          <li>
            <%= link_to "Associations", main_app.organizations_path, class: 'nav-link px-0' %>
          </li>
          <li>
            <%= link_to "Articles", main_app.articles_path, class: 'nav-link px-0' %>
          </li>
          <li>
          <%= link_to "Marketplace (NA)", main_app.root_path, class: 'nav-link px-0' %>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">À Propos</h5>

        <ul class="list-unstyled">
          <li>
           <%= link_to "L'équipe", main_app.root_path, class: 'nav-link px-0' %>
          </li>
          <li>
           <%= link_to "The Hacking Project", 'https://www.thehackingproject.org/', class: 'nav-link px-0' %>
          </li>
          <li>
           <%= link_to "Contact", main_app.root_path, class: 'nav-link px-0' %>
          </li>
          <li>
           <%= link_to "Jobs", main_app.root_path, class: 'nav-link px-0' %>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <p class="footer-copyright text-center py-3">© 2019 Copyright :
    <%= link_to "Shine - The Hacking Project", "https://www.thehackingproject.org/"%>
  </p>
  <!-- Copyright -->
</div>
</footer>
<!-- Footer -->
