  <div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-3 shadow">
      <%= link_to "SHINE", '/', class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item text-uppercase px-3 active">
          <%= link_to "Associations", main_app.organizations_path, class: 'nav-link' %>
        </li>
        <li class="nav-item text-uppercase px-3 active">
          <%= link_to "Forum", main_app.thredded_path, class: 'nav-link' %>
        </li>
        <li class="nav-item text-uppercase px-3 active">
          <%= link_to "Articles", main_app.articles_path, class: 'nav-link' %>
        </li>
        <li class="nav-item text-uppercase px-3 active">
          <%= link_to "Prêt Materiel", main_app.items_path, class: 'nav-link' %>
        </li>

        <% if user_signed_in? == false %>

              <li class="nav-item dropdown">
                <a class="dropdown-toggle btn btn-outline-secondary mx-3 text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  S'inscrire / Se connecter
                </a>
                <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
                <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                  <%= link_to "S'inscrire", main_app.new_user_registration_path, class: 'dropdown-item text-uppercase' %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Se Connecter", main_app.new_user_session_path, class: 'dropdown-item text-uppercase' %>
                </div>
              </li>

        <% else %>
              <% if current_user.admin == true %>
                <li class="nav-item text-uppercase px-3 active">
                  <%= link_to "Dashboard",  main_app.admin_show_path, class: 'nav-link' %>
                </li>
              <%elsif current_user.organization.nil? == false %>
                <li class="nav-item text-uppercase px-3 active">
                  <%= link_to "Dashboard",  main_app.organization_path(current_user.organization.id), class: 'nav-link' %>
                </li>
              <%end%>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn btn-outline-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.name%>
                </a>
                <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
                <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                  <%= link_to "Mon Profil", main_app.user_path(current_user.id), class: 'dropdown-item text-uppercase' %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Se Déconnecter", main_app.destroy_user_session_path, method: :delete, class: 'dropdown-item text-uppercase' %>
                </div>
              </li>

        <% end %>
    </ul>
  </div>
  </nav>

  <%= render 'layouts/flash'%>
</div>
